* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: 1px solid rgb(36, 246, 36); */
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align {
    align-items: center;
}

.justify {
    justify-content: space-between;
}

.col-50 {
    width: 100%;
}

.col-40 {
    width: 140%;
}

.col-10 {
    width: 10%;
}

.col-60 {
    width: 100%;
}


/* header-start */

header {
    background-image: url('../img/law-theme-mallet-judge-wooden-desk-books\ 1.png');
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #323232;
    background-position: center;
}

nav {
    padding: 10px 0 0 0;
}

.logo img {
    width: 100%;
    display: block;
}


/* header-toggle */
.list {
    display: none;
}

.list {
    width: 100%;
    position: fixed;
    top: 77px;
    left: -100%;
    transition: all 0.6s ease-in-out;
    background-color: #d3ab72;
    display: block;
    height: 100%;
    z-index: 999;
}

.list.show {
    left: 0;
}

.list ul li {
    display: block;
    text-align: center;
    padding: 15px 0;
}

.list ul li a {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    opacity: 0.702;
    color: #323232;
}

.contact {
    display: none;
}


.bar {
    color: #E3B576;
    font-size: 30px;
}

.contact {
    background-color: #e3b576;
    padding: 5px 10px;
    margin-top: 0px;
}


.contact p {
    font-size: 16px;
    color: #323232;
    font-weight: 400;
    font-family: "Poppins";
}

.contact a {
    font-size: 22px;
    color: #323232;
    font-weight: 600;
    font-family: "Poppins";
}

.sucess-img {
    width: 100%;
}

.sucess-img img {
    width: 231px;
    height: 332px;
    margin: 38px 0 0px 28px;
}

.sucess-tx {
    position: relative;
    text-align: center;
}

.sucess-tx span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}

.sucess-tx i {
    color: #e3b576;
    font-size: 14px;
}

.sucess-tx img {
    width: 77%;
    position: absolute;
    top: 162px;
    left: 26px;
}

.sucess-tx h1 {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 68px;
    color: #e3b576;
    font-weight: 600;
    font-family: "Raleway";
    width: 251px;
}

.sucess-tx p {
    opacity: 0.702;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    width: 248px;
    padding: 11px 0 21px 0;
    margin: 0 auto;
}

.btn button {
    padding: 14px;
    background-color: #E3B576;
    border: none;
    color: #323232;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 44px;
}

.orcallus {
    display: flex;
    align-items: center;
    margin: 0 60px;
}

.orcallus i {
    color: #ffffff;
    font-size: 20px;
}

.text_number {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    margin-left: 20px;
}

.text_number small {
    font-weight: 400;
}

.text_number p {
    width: 100%;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
}

.img {
    position: relative;
}

.img img {
    width: 60%;
    margin: 0 auto;
    object-fit: cover;
    transform: translate(10%, -1%);
}

.box {
    width: 160px;
    padding: 8px;
    text-align: center;
    top: 35%;
    right: -10px;
    position: absolute;
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
}


.box p {
    font-size: 14px;
    font-weight: 400;
    color: #323232;
    padding-bottom: 8px;
}


.box h2 {
    font-size: 26px;
    font-weight: 500;
    color: #323232;
    position: relative;
}

.avatars {
    display: flex;
    justify-content: center;
}

.avatars_item img {
    width: 100%;
    margin: 0 -13px 0 -15px;
    border-radius: none;
    border: none;
}

.avatars .avatars_item {
    margin-left: -10px;
}

.meadl {
    margin: -9px;
}

.meadl img {
    width: 32px;
    margin: -46px 0 1px 82px;
}

/* header-end */


/* section-1-start-(about-us) */

.sec-1 {
    padding: 30px 0;
}

.about-img {
    position: relative;
}

.about-img img {
    width: 100%;
}

.box_2 {
    padding: 25px;
    top: 44%;
    right: 0px;
    border: 7px solid #FFF;
    position: absolute;
    background-color: #E3B576;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    transform: translate(0%, -43%);
}

.box_2 img {
    display: block;
    width: 55%;
}

.box_2 h2 {
    font-size: 20px;
    font-weight: 500;
}

.box_2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 8px;
}

.about-tx h3 {
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #e3b576;
    font-weight: 500;
    font-family: "Poppins";
    padding: 13px 0 13px 0;
}

.about-tx h4 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #323232;
    font-weight: 600;
    font-family: "Raleway";
    width: 266px;
}


.about-tx p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #aeaeae;
    font-weight: 400;
    font-family: "Poppins";
    width: 250px;
    padding: 10px 0 10px 0;
}


.get {
    display: flex;
    align-items: center;
    padding: 0 29px;
}

.get i {
    color: #E3B576;
    font-size: 20px;
}

.get p {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #0b0202;
    font-weight: 500;
    font-family: "Poppins";
}

.created {
    letter-spacing: 0px;
    color: #aeaeae;
    font-weight: 400;
    font-family: "Poppins";
    font-size: 14px;
    width: 251px;
    padding: 5px 0;
    line-height: 18px;
}


.basic button {
    font-size: 15px;
    color: #323232;
    font-weight: 400;
    font-family: "Roboto";
    background-color: #e3b576;
    border: #e3b576;
    padding: 15px 20px;
    margin: 10px 54px;
}

.basic img {
    width: 100%;
}

.basic {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* section-1-end-(about-us) */


/* section-2-start-(countnumber) */

.sec-2 {
    padding: 0px 0 30px 0;
}


.cilents {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.countnumber-text {
    padding: 10px 0;
}

.countnumber-text h4 {
    font-size: 23px;
    color: #323232;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
    line-height: 30px;
}

.countnumber-text p {
    font-size: 14px;
    color: #323232;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

/* section-2-end-(countnumber) */


/* section-3-start-(expert) */
.sec-3 {
    padding: 30px 0 0px 0;
    background-color: #323232;
}

.expert {
    text-align: center;
}

.expert h3 {
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 37px;
    color: #e3b576;
    font-weight: 500;
    font-family: "Poppins";
}

.expert h4 {
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 43px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
}

.expert p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #aeaeae;
    font-weight: 400;
    font-family: "Poppins";
    width: 281px
}

.jhon-dow img {
    /* margin: 0 0 0px 62px; */
    width: 100%;
    /* height: 500px; */
}


.lady {
    margin: -180px 0px 25px 0px;
    background-color: black;
    opacity: 0.4;
}


.lady p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    width: 247px;
    margin: 0 auto;
}

.lady h5 {
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.lady span {
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    display: grid;
    place-items: center;
}

.law {
    /* display: flex; */
    align-items: center;
    padding: 10px;
    text-align: center;
}

.law {
    width: 100%;
}

.law img {
    align-self: start;

}

.law-info h3 {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    padding: 0px 14px 0 14px;

}

.law-info p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #aeaeae;
    font-weight: 400;
    font-family: "Poppins";
    padding: 0px 14px 8px 14px;

}

.lady {
    margin: -155px 0px 25px 0px;
}

.about-tx h4 {
    width: 100%;
}

.about-tx p {
    width: 100%;
}

.created {
    width: 100%;
}

.expert p {
    width: 100%;
}

.get {
    display: inline-flex;
}

.div button {
    margin: 0 auto;
}

/* section-3-end-(expert) */

/* =================midia-query================== */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .conatiner {
        width: 540px;
        margin: 0 auto;
    }

    .sucess-tx span {
        font-size: 16px;
    }

    .home-tx {
        display: grid;
        place-items: center;
    }

    .sucess-tx h1 {
        font-size: 49px;
        line-height: 60px;
        width: 319px;
    }

    .sucess-tx img {
        width: 76%;
        top: 137px;
        left: 32px;
    }

    .sucess-tx p {
        font-size: 17px;
        width: 341px;
        padding: 23px 0 23px 0;
    }

    .orcallus {
        display: flex;
        align-items: center;
        /* margin: 0 60px; */
    }

    .btn button {
        padding: 14px;
        font-size: 18px;
    }

    .text_number p {
        width: 112px;
        padding: 0;
        font-size: 15px;
    }

    .img img {
        width: 50%;
        margin: 0 auto;
        object-fit: cover;
        transform: translate(17%, 7%);
    }

    .meadl img {
        width: 40px;
        margin: -22px 0 0 64px;
    }

    .box h2 {
        font-size: 30px;
    }

    .meadl {
        margin: -20px;
    }

    .box {
        width: 207px;
        padding: 21px;
        top: 38%;
        right: 40px;
    }

    .box p {
        font-size: 17px;
        font-weight: 400;
        color: #323232;
        padding-bottom: 8px;
        line-height: 20px;
    }

    .avatars_item img {
        width: 40px;
    }

    .sec-1 {
        padding: 0px 0 50px 0;
    }

    .box_2 p {
        font-size: 20px;
    }

    .box_2 h2 {
        font-size: 30px;
    }

    .box_2 img {
        width: 80%;
    }

    .box_2 {
        padding: 53px;
        top: 41%;
    }

    .about-tx h3 {
        font-size: 30px;
    }

    .basic {
        display: grid;
        place-items: center;
    }

    .about-tx h4 {
        font-size: 26px;
        line-height: 31px;
        width: 314px;
        margin: 0 auto;
    }

    .about-tx p {
        font-size: 17px;
        width: 454px;
    }

    .get p {
        font-size: 20px;
    }

    .created {
        font-size: 17px;
        width: 460px;
        line-height: 26px;
    }

    .basic button {
        font-size: 20px;
        padding: 15px 29px;
        margin: 0 auto;
    }

    .basic img {
        width: 57%;
    }

    .countnumber-text h4 {
        font-size: 25px;
    }

    .countnumber-text p {
        font-size: 17px;
    }

    .expert h3 {
        font-size: 20px;
    }

    .expert h4 {
        font-size: 30px;
    }

    .expert p {
        font-size: 16px;
        width: 509px;
        padding: 10px;
    }

    .law-info h3 {
        font-size: 21px;
    }

    .law-info p {
        font-size: 17px;
        padding: 0 0 8px 0;
    }

    .lady {
        margin: -158px 0px 25px 0px;
    }

    .lady p {
        font-size: 17px;
        width: 424px;
    }
}

/* =============================================== */

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .conatiner {
        width: 740px;
        margin: 0 auto;
    }

    .col-50 {
        width: 50%;
    }

    .col-40 {
        width: 40%;
    }

    .col-10 {
        width: 10%;
    }

    .col-60 {
        width: 60%;
    }

    .sec-1 {
        padding: 70px 0;
    }

    .img img {
        width: 80%;
        margin: 0 auto;
        object-fit: cover;
        transform: translate(13%, 10%);
    }

    .meadl {
        margin: -33px 0 0 71px;
    }

    .meadl img {
        width: 50px;
    }

    .home-tx {
        padding-top: 50px;
    }

    .box {
        width: 209px;
        padding: 13px;
        top: 43%;
        right: -29px;
    }

    .box h2 {
        font-size: 35px;
    }

    .box p {
        font-size: 20px;
    }

    .btn button {
        padding: 16px 10px;
        font-size: 14px;
        margin: 0px;
    }

    .orcallus {
        margin: 0 10px;
    }

    .sucess-tx h1 {
        font-size: 40px;
        line-height: 50px;
        width: 250px;
        margin: 0;
    }

    .sucess-tx {
        position: relative;
        text-align: start;
    }

    .sucess-tx img {
        width: 62%;
        top: 119px;
        left: -27px;
    }

    .avatars_item img {
        width: 38px;
    }

    .basic {
        margin: 0 0 0 16px;
        text-align: start;
    }

    .about-tx h3 {
        font-size: 20px;
        line-height: 1px;
    }

    .about-tx h4 {
        font-size: 23px;
        line-height: 30px;
        width: 317px;
        margin: 0;
    }

    .about-tx p {
        font-size: 14px;
        width: 342px;
    }

    .get {
        padding: 0 14px;
    }

    .get p {
        font-size: 15px;
        line-height: 16px;
        padding: 4px;
    }

    .created {
        font-size: 14px;
        width: 342px;
        padding: 5px 0;
    }

    .basic button {
        font-size: 14px;
        padding: 12px 9px;
        /* margin: 10px 34px; */
        margin: 0;
    }

    .basic img {
        width: 46%;
    }

    .sec-2 {
        padding: 0 0 70px 0;
    }

    .box_2 img {
        width: 52%;
    }

    .box_2 p {
        font-size: 19px;
    }

    .box_2 {
        padding: 25px;
        top: 41%;
    }

    .cilents {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .lady p {
        font-size: 17px;
        width: 290px;
    }

    .expert {
        text-align: start;
    }

    .expert p {
        font-size: 14px;
        width: 410px;
        line-height: 18px;
        padding: 10px 0;
    }


    .law {
        display: flex;
        align-items: center;
        padding: 10px;
        text-align: start;
    }


    .law-info h3 {
        font-size: 13px;
    }

    .div img {
        margin-left: 20px;
    }

    .law-info h3 {
        padding: 0;
    }

    .law-info {
        padding: 5px;
    }

    .law-info p {
        font-size: 14px;
        padding: 0;
        line-height: 1.2;
    }

    .lady p {
        font-size: 15px;
        width: 315px;
        padding: 10px;
        margin: 0;
    }

    .lady {
        margin: -156px 0px 0px 0px;
        width: 314px;
    }

    .jhon-dow img {
        margin-top: 100px;
        width: 314px;
        height: 433px;
    }

    .lady h5 {
        text-align: start;
        padding: 0 10px;
    }

    .lady span {
        display: block;
        place-items: flex-start;
        padding: 0px 10px;
    }

    /* togggle-menu */

    .bar {
        display: none;
    }

    .list {
        position: static;
        transition: none;
        background: transparent;
        display: inline-block;
        width: auto;
    }

    .list ul li {
        display: inline-block;
        padding: 0px 2px;
        margin: 0;
    }

    .list ul li a {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 400;
        padding: 0px 2px;
        opacity: 0.702;
        color: #ffffff;
    }

    .contact {
        display: inline-block;
        background-color: #e3b576;
        padding: 5px 3px;
        margin-top: 0px;
    }

    .contact p {
        font-size: 14px;
    }

    .logo img {
        width: 93%;
        display: block;
    }

    .contact a {
        font-size: 14px;
    }

}

/* =============================================== */

/* // Large devices (desktops, 992px and up) */


@media (min-width: 992px) {
    .conatiner {
        width: 940px;
        margin: 0 auto;
    }


    .home-tx {
        display: grid;
        place-items: start;
        padding: 99px 0 0 0;
       
    }

    .list ul li a {
        font-size: 16px;
        padding: 0px 11px;
    }

    .img img {
        width: 82%;
        margin: 0;
        object-fit: cover;
        transform: translate(9%, 8%);
    }

    .meadl img {
        width: 50px;
    }

    .meadl {
        margin: -43px 0 0 120px;
    }

    .box {
        width: 205px;
        padding: 10px;
        top: 57%;
        right: -29px;
    }

    .box h2 {
        font-size: 45px;
    }

    .box p {
        font-size: 16px;
    }

    .avatars_item img {
        width: 40px;
    }

    .about-tx h4 {
        font-size: 25px;
        line-height: 34px;
        width: 369px;
        margin: 0;
    }

    .about-tx p {
        font-size: 14px;
        width: 426px;
        line-height: 20px;
    }

    .box_2 h2 {
        font-size: 33px;
    }

    .box_2 h2 {
        font-size: 33px;
    }

    .get {
        padding: 0 8px;
    }

    .get p {
        font-size: 14px;
        line-height: 16px;
        padding: 10px;
    }

    .created {
        font-size: 14px;
        width: 428px;
        padding: 5px 0;
        line-height: 18px;
    }

    .basic button {
        font-size: 18px;
        padding: 15px 31px;
        margin: 0;
    }

    .countnumber-text h4 {
        font-size: 30px;
    }

    .expert h3 {
        font-size: 22px;
    }

    .expert h4 {
        font-size: 35px;
    }

    .expert p {
        font-size: 14px;
        width: 530px;
        line-height: 19px;
        padding: 12px 0;
    }

    .law-info h3 {
        font-size: 17px;
        padding: 0 7px;
    }

    .law-info p {
        font-size: 14px;
        padding: -6px;
        line-height: 1.2;
        padding: 0 5px 0 5px;
    }


    .jhon-dow img {
        margin-top: 0;
        width: 408px;
        height: 488px;
        margin: 0 0 0px -3px;
    }

    .lady {
        margin: -165px 0px 0px -1px;
        width: 406px;
    }

    .lady p {
        font-size: 14px;
        width: 392px;
        padding: 13px;
        margin: 0;
    }

    .lady h5 {
        text-align: start;
        padding: 0 13px;
    }

    .lady span {
        padding: 0px 0 29px 13px;
    }

    .sec-3 {
        padding: 30px 0 0px 0;
    }

    .sucess-tx h1 {
        font-size: 45px;
        line-height: 55px;
        width: 253px;
        margin: 0;
    }

    .sucess-tx img {
        width: 67%;
        top: 128px;
        left: -23px;
    }

    .orcallus {
        margin: 0 22px;
    }

    .text_number {
        margin-left: 11px;
    }

}

/* =============================================== */

/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .conatiner {
        width: 1140px;
        margin: 0 auto;
    }

    .list ul li a {
        font-size: 18px;
        padding: 0px 13px;
    }

    .contact {
        padding: 11px 16px;
        margin-top: -11px;
    }

    .contact a {
        font-size: 17px;
    }

    .img img {
        width: 70%;
    }

    .meadl {
        margin: -32px 0 0 123px;
    }

    .avatars_item img {
        width: 39px;
        border: 1px solid white;
        border-radius: 50%;
    }

    .box {
        width: 205px;
        padding: 14px;
        top: 51%;
        right: -13px;
    }

    .home-tx {
        display: grid;
        place-items: start;
        padding: 70px 0 0 0;
    }

    .sucess-tx p {
        font-size: 18px;
        width: 372px;
        padding: 29px 0 23px 0;
    }

    .sucess-tx img {
        width: 67%;
        top: 126px;
        left: -28px;
    }

    .btn button {
        font-size: 17px;
    }

    .orcallus {
        margin: 0 30px;
    }

    .text_number p {
        width: 153px;
        padding: 0;
        font-size: 19px;
    }

    .box_2 h2 {
        font-size: 31px;
        padding: 2px 0;
    }

    .box_2 p {
        font-size: 20px;
    }

    .box_2 {
        padding: 51px;
        top: 40%;
    }

    .about-tx h3 {
        font-size: 23px;
        line-height: 14px;
    }

    .about-tx h4 {
        font-size: 30px;
        line-height: 37px;
        width: 437px;
        margin: 0;
    }

    .about-tx p {
        font-size: 15px;
        width: 521px;
        line-height: 22px;
    }

    .get p {
        font-size: 17px;
        line-height: 30px;
        padding: 12px;
    }

    .created {
        font-size: 15px;
        width: 522px;
        padding: 6px 0;
        line-height: 22px;
    }

    .basic button {
        font-size: 19px;
        padding: 18px 34px;
        margin: 0;
    }

    .div img {
        margin-left: 5px;
    }

    .basic img {
        width: 57%;
    }

    .about-img img {
        width: 93%;
    }

    .box_2 img {
        width: 53px;
    }

    .div {
        margin: 15px 0 0 0;
    }

    .countnumber-text h4 {
        font-size: 40px;
    }

    .countnumber-text p {
        font-size: 18px;
    }

    .expert h3 {
        font-size: 25px;
    }

    .expert h4 {
        font-size: 40px;
    }

    .expert p {
        font-size: 15px;
        width: 579px;
        line-height: 24px;
        padding: 13px 0;
    }

    .law-info {
        padding: 2px;
    }

    .law {
        padding: 15px;
    }

    .law img {
        align-self: start;
        margin: 0 15px 0 -15px;
    }

    .jhon-dow img {
        margin-top: 0;
        width: 100%;
        height: 500px;
        margin: 0 0 0 58px;
    }

    .lady {
        margin: -165px 0px 0px 58px;
        width: 100%;
    }
    .box_2 img {
        width: 60px;
    }
    .box_2 h2 {
        font-size: 40px;
    }
    .box_2 p {
        font-size: 27px;
    }
    .box_2 {
        padding: 60px;
    }
}

/* =============================================== */

@media (min-width: 1400px) {
    .conatiner {
        width: 1340px;
        margin: 0 auto;
    }

    .list ul li {
        display: inline-block;
        padding: 0px 11px
    }

    .list ul li a {
        font-size: 20px;
    }

    .contact a {
        font-size: 19px;
    }

    .sucess-tx span {
        font-size: 17px;
    }

    .sucess-tx h1 {
        font-size: 60px;
        line-height: 70px;
        width: 301px;
        margin: 0;
    }

    .sucess-tx img {
        width: 80%;
        top: 157px;
        left: -28px;
    }

    .home-tx {
        padding-top: 97px;
    }

    .sucess-tx p {
        padding: 29px 0 32px 0;
    }

    .btn button {
        font-size: 20px;
    }

    .text_number {
        margin-left: 22px;
    }

    .text_number {
        margin-left: 20px;
    }

    .text_number small {
        font-weight: 400;
        font-size: 16px;
    }

    .text_number p {
        width: 158px;
        padding: 0;
        font-size: 22px;
    }

    .box {
        width: 219px;
        padding: 14px;
        top: 56%;
        right: 18px;
    }

    .about-tx h3 {
        font-size: 27px;
        line-height: 27px;
    }

    .about-tx h4 {
        font-size: 35px;
        line-height: 52px;
        width: 502px;
    }

    .about-tx p {
        width: 579px;
        line-height: 25px;
    }

    .get p {
        font-size: 20px;
        line-height: 30px;
    }

    .get i {
        font-size: 25px;
    }

    .created {
        font-size: 15px;
        width: 592px;
        line-height: 25px;
    }

    .expert h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .expert h4 {
        font-size: 45px;
    }

    .jhon-dow img {
        margin: 0px 0 0 69px;
    }

    .expert p {
        font-size: 18px;
        line-height: 30px;
    }

    .lady {
        margin: -165px 0px 0px 69px;
    }
}

/* =============================================== */
